<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <h1><a href="/">Todo MVC - Rust</a></h1>
        </div>
    </header>
    
    <main class="container">
        {{ content|safe }}
    </main>
    
    <footer>
        <div class="container">
            <p>&copy; 2024 Todo MVC Rust App</p>
        </div>
    </footer>
</body>
</html>